.profile-container {
    width: 100%;
    max-width: 700px;
}


.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.profile-card {
    width: 100%;
    border-radius: 25px;
    padding: 20px;
}

.profile-detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-label {
    color: #6c757d;
    font-weight: normal;
}

.update-profile-btn {
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    border-color: #F5A623 !important;
    color: #F5A623 !important;
    font-size: 14px !important;
}

.update-profile-btn:hover {
    background-color: #F5A623 !important;
    color: white !important;
    opacity: 0.9;
}